body {
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.header, #section1, footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, 
    url('https://i.pinimg.com/originals/72/e0/e3/72e0e3457c9640e60f16d82b54cea3a6.jpg') no-repeat center center fixed;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    padding: 16px;
    border-radius: 16px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    height: 100%;
    width: 100%;
}
@keyframes slide {
    from {top:-50px;opacity: 0;}
    to {top:0px;opacity: 1;}
}
.glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.header {
    display: flex;
    padding: 16px 10%;
    justify-content: space-between;
    align-items: center;
}
.header-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;  
}
.header-links li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.header img {
    height: 64px;
}
#section1 {
    height: 100vh;
    width: 100vw;
    padding: 48px 10%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder {
    flex: 1 1 50%;
    max-width: 50%;
}   
.content-left {
    flex: 1 1 50%;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 0;
    position: relative;
    animation-name: slide;
    animation-duration: 0.75s;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}
.hero-secondary {
    font-size: 18px;
    color: white;
}  
#section2 {
    padding: 48px 5%;
    background-color: #efead7;
}
.s2-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.s2-header {
    font-size: 48px;
    font-weight: bolder;
}
.s2-content {
    font-size: 24px;
}
.s2-middle {
    padding: 12px 0px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}
.s2-left {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 50%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 8px;
}
.s2-right {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 8px;
}
.s2-bottom {
    font-size: 24px;
    text-align: center;
}
.information-header {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 20%;
    padding-bottom: 64px;
}
#s3Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    border: 5px solid #de9b35;
    border-radius: 16px;
    width: 256px;
    height: 256px;
    flex: 1 1 auto;
    object-fit: cover;
}
.popupLink {
    width: 100%;
    height: 100%;
}
.s3-container {
    margin: 32px;
    text-align: center;
}
@keyframes popup {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
.popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    animation-name: popup;
    animation-duration: 0.5s;
}
.popup:target {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.popupContent iframe {
    width: 50vw;
    height: 500px;
    max-width: 50%;
}
.popupText {
    padding: 36px 0px;
    color: #efead7;
    font-size: 36px;
    font-weight: bolder;
    max-width: 50%;
    text-align: center;
}
footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}